body{
    background-color: blue;
}
#grand-beige-1 {
    height : 200px;
    width: 49%;
    margin : 20px auto 0px 20px;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.petit-rose {
    height : 30px;
    width: 30px;
    background-color: pink;
}
#grand-beige-2 {
    height : 200px;
    width: 49%;
    margin : 0px 20px 20px auto;
    background-color: burlywood;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.petit-rose-2 {
    height : 30px;
    width: 30px;
    background-color: pink;
}
#petit-rose-3 {
    height : 30px;
    width: 30px;
    background-color: pink;
    margin-top: auto;
}
#grand-violet {
    height : 300px;
    width: 98%;
    margin : 20px;
    background-color: purple;
}