body{
    background-color: cadetblue;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 50px;
}
.grand-gris{
    background-color: grey;
    height: 50px;
    width: 100px;
    display: flex;
    border: 1px solid white;
    justify-content: space-around;
    align-items: center;
}
.petit-orange{
    background-color: rgb(255, 197, 72);
    height: 30px;
    width: 30px;
}
.petit-blanc{
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
}